root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{*.ant, *.fxml, *.jhm, *.jnlp, *.jrxml, *.pom, *.rng, *.tld, *.wadl, *.wsdd, *.wsdl, *.xjb, *.xml, *.xsd, *.xsl, *.xslt, *.xul, *html}]
indent_size = 2
tab_width = 2

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .prettierc, .prettierrc, .stylelintrc, bowerrc, jest.config}]
indent_size = 2
tab_width = 2

[{*.yaml, *.yml}]
indent_size = 2
